*{
  padding: 0;
  margin: 0;
  background-color: blueviolet;
}

.app{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.navbar1{
  width: 80%;
  text-align: center;
  margin: 20px 0;
  background-color: rgb(118, 57, 175);
  color: rgb(180, 155, 202);
  border-radius: 10px;
}
.head{
  
  width: 80%;
  background-color:rgb(180, 155, 202);
  border-radius: 10px;
}
.conta{
  background-color: rgb(210, 199, 219);
  padding: 10px;
}

.bti{
  background-color: rgb(123, 85, 151);
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bt{
  color: black;
}
.ulist{
  width: 80%;
  margin-top: 30px;
  background-color: rgb(180, 155, 202);
  
}
.ulis{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

strong{
  background-color: bisque;
  padding: 5px 20px 0;
  border-radius: 10px;
}
.btns{
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
}
.for{
  width: 50%;
}
